section.about
  .flex.flex--center
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consequatur, incidunt tempore. Mollitia commodi, vero reiciendis esse magni perspiciatis id quod similique autem facilis quidem labore tempore recusandae, sed provident.
    
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo veritatis voluptatum aliquid provident velit rerum distinctio, officiis quia veniam qui adipisci corporis, dolore sit eveniet suscipit numquam inventore! Optio, inventore?
  
section.youtube
  .flex.flex--space-around
    .col-1
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consequatur, incidunt tempore. Mollitia commodi, vero reiciendis esse magni perspiciatis id quod similique autem facilis quidem labore tempore recusandae, sed provident.
    
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo veritatis voluptatum aliquid provident velit rerum distinctio, officiis quia veniam qui adipisci corporis, dolore sit eveniet suscipit numquam inventore! Optio, inventore?

section.youtube
  .flex.flex--center
    .col-2
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consequatur, incidunt tempore. Mollitia commodi, vero reiciendis esse magni perspiciatis id quod similique autem facilis quidem labore tempore recusandae, sed provident.

section.youtube
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat consequatur, incidunt tempore. Mollitia commodi, vero reiciendis esse magni perspiciatis id quod similique autem facilis quidem labore tempore recusandae, sed provident.
    
    .col-50
      p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo veritatis voluptatum aliquid provident velit rerum distinctio, officiis quia veniam qui adipisci corporis, dolore sit eveniet suscipit numquam inventore! Optio, inventore?